{% extends 'layout.html' %}
{% block title %}Басты бет{% endblock %}

{% block content %}
    <section class="hero">
        <h1>"Үміт шамы" платформасына қош келдіңіз!</h1>
        <p class="subtitle">Бұл - әр оқушының эмоциялық және психологиялық саулығына арналған қауіпсіз кеңістік.</p>
        <p>Сіз жалғыз емессіз. Біз сізге қолдау көрсетуге дайынбыз. Өзіңізді еркін сезініп, ойыңызбен бөлісіңіз немесе жай ғана пайдалы материалдарды оқыңыз.</p>
        <a href="{{ url_for('psychological_support') }}" class="cta-button">Көмек керек пе?</a>
    </section>
{% endblock %}